{% extends 'base.html' %}

{% load bootstrap4 %}

{% block content %}


<div class="my-5 text-center">

    <div class="my-5">
        <div>
            <img src="{{ target_user.profile.image.url }}" alt="">
        </div>
        <h1>
            {{ target_user.profile.nickname }}
        </h1>
    </div>

    <div style="max-width: 900px; margin: auto">
        {{ target_user.date_joined }}

        {% if user == target_user %}
        <div>
            <a href="{% url 'accountapp:update' pk=target_user.pk %}">
            <div class="btn btn-warning rounded-pill px-5 my-5">
                Update
            </div>
            </a>
        </div>
        {% endif %}
    </div>

</div>


{% endblock %}