{% extends 'base.html' %}

{% load bootstrap4 %}

{% block content %}


<div class="my-5 text-center">

    <div class="my-5">
        <div>
            <img src="{{ target_user.profile.image.url }}" alt=""
             style="height: 15rem; width: 15rem; border-radius: 100rem;
                    object-fit: cover;">
        </div>
        <h1>
            {{ target_user.profile.nickname }}
        </h1>
    </div>

    <div style="max-width: 900px; margin: auto">
        {{ target_user.profile.message }}

        {% if user == target_user %}
        <div>
            <a href="{% url 'accountapp:update' pk=target_user.pk %}">
            <div class="btn btn-warning rounded-pill px-5 my-5">
                Update
            </div>
            </a>
            <a href="{% url 'profileapp:update' pk=target_user.profile.pk %}">
            <div class="btn btn-dark rounded-pill px-5 my-5">
                Update
            </div>
            </a>
        </div>
        {% endif %}
    </div>

</div>


{% endblock %}