{% extends 'base.html' %}

{% load bootstrap4 %}

{% block content %}


<div class="my-5 text-center">

    <div class="my-5">
        <div>
            <img src="{{ target_user.profile.image.url }}" alt=""
             style="height: 15rem; width: 15rem; border-radius: 100rem;
                    object-fit: cover;">
        </div>

        {% if target_user.profile %}

        <h1>
            {{ target_user.profile.nickname }}
        </h1>
        {{ target_user.profile.message }}

        {% elif target_user == user %}
        <a href="{% url 'profileapp:create' %}">
            <h1>
                Create Profile
            </h1>
        </a>
        {% else %}
        <h1>
            Unknown
        </h1>
        {% endif %}
    </div>

    <div style="max-width: 900px; margin: auto">

        {% if user == target_user %}
        <div>
            <a href="{% url 'accountapp:update' pk=target_user.pk %}">
            <div class="btn btn-warning rounded-pill px-5 my-5">
                Update
            </div>
            </a>

            {% if target_user.profile %}
            <a href="{% url 'profileapp:update' pk=target_user.profile.pk %}">
            <div class="btn btn-dark rounded-pill px-5 my-5">
                Update
            </div>
            </a>
            {% endif %}

        </div>
        {% endif %}
    </div>

</div>


{% endblock %}