{% extends 'base.html' %}

{% block content %}


<div style="background-color: green; height: 30rem; border-radius: 3rem; margin: 2rem;">

    <div style="display: block; background-color: red; height: 4rem; width: 4rem;"></div>
    <div style="display: inline; background-color: red; height: 4rem; width: 4rem;">inline</div>
    <div style="display: inline-block; background-color: red; height: 4rem; width: 4rem;"></div>
    <div style="display: none; background-color: red; height: 4rem; width: 4rem;"></div>

</div>


{% endblock %}