{% extends 'base.html' %}

{% block content %}


<div style="text-align: center">

    <h2 style="font-family: 'Pacifico', cursive;">
        Registration
    </h2>

    <div class="my-4">
        <form action="/accounts/hello_world/" method="post">
            {% csrf_token %}
            <div class="row g-2" style="max-width: 900px; margin: auto;">
              <div class="col-md">
                <div class="form-floating">
                  <input type="email" name="email" class="form-control"
                         id="floatingInputGrid" placeholder="name@example.com"
                         value="mdo@example.com">
                  <label for="floatingInputGrid">Email address</label>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-warning rounded-pill px-4 my-5">
                Submit
            </button>
        </form>
    </div>

    <div>
        {{ temp }}
    </div>

</div>


{% endblock %}