{% extends 'base.html' %}

{% block content %}


<div style="background-color: green; height: 30rem; border-radius: 3rem; margin: 2rem;">

    <div style="display: inline-block; background-color: red; margin: 1rem; height: 64px; width: 64px;"></div>
    <div style="display: inline-block; background-color: red; margin: 1rem; height: 4em; width: 4em;"></div>
    <div style="display: inline-block; background-color: red; margin: 1rem; height: 4rem; width: 4rem;"></div>
    <div style="display: inline-block; background-color: red; margin: 1rem; height: 30%; width: 30%"></div>

</div>


{% endblock %}