{% load bootstrap4 %}


    <div style="max-width: 900px; margin: auto">
        <form action="{% url 'commentapp:create' %}"
              method="post"
              enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="text-end">
                <button class="btn btn-warning rounded-pill px-5 my-2"
                        type="submit">
                    Submit
                </button>
            </div>
        </form>
    </div>
