
<div style="text-align: center;">
    <div>
        <a href="{% url 'home' %}">
            <h1 class="my-5" style="font-family: 'Pacifico', cursive;">
                Techit
            </h1>
        </a>
    </div>
    <div class="mb-5">
        <span>
            <a href="{% url 'home' %}">
                Home
            </a>
        </span>
        <span>nav2</span>
        <span>nav3</span>
        {% if user.is_authenticated %}
        <span>
            <a href="{% url 'accountapp:detail' pk=user.pk %}">
                MyPage
            </a>
        </span>
        <span>
            <a href="{% url 'accountapp:logout' %}">
                Logout
            </a>
        </span>
        {% else %}
        <span>
            <a href="{% url 'accountapp:login' %}">
                LogIn
            </a>
        </span>
        <span>
            <a href="{% url 'accountapp:create' %}">
                SignUp
            </a>
        </span>
        {% endif %}
    </div>
</div>