{% extends 'base.html' %}

{% load bootstrap4 %}

{% block content %}


<div class="my-5 text-center">

    <div class="my-5">
        <h1>
            {{ target_article.title }}
        </h1>
    </div>

    <div style="max-width: 900px; margin: auto">

        <div>
            <img src="{{ target_article.image.url }}" alt="">
        </div>

        <div>
            {{ target_article.content }}
        </div>

        {% if user == target_article.writer %}
        <div>
            <a href="{% url 'articleapp:update' pk=target_article.pk %}"
               class="btn btn-warning rounded-pill px-5 my-5">
                Update
            </a>
            <a href="{% url 'articleapp:delete' pk=target_article.pk %}"
               class="btn btn-danger rounded-pill px-5 my-5">
                Delete
            </a>
        </div>
        {% endif %}

    </div>

</div>


{% endblock %}